$chessboard-size--portrait: 100vw;
$chessboard-size--landscape: 100vh;

//Colors
$button-primary: #ffd700;
$button-hover: #f1bf00;
$square-possibleMove: #006600;
$square-selected: #002aff;

//Fonts
$font-family--primary: 'Caesar Dressing', sans-serif;
