.chessboard {
  height: $chessboard-size--portrait;
  width: $chessboard-size--portrait;
  max-height: 100%;
  max-width: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, auto);
}

.square {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  &--light {
    background-image: url('static/img/board/light.png');
  }

  &--dark {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('static/img/board/dark.png');
  }
}

@media (orientation: landscape) {
  .chessboard {
    height: $chessboard-size--landscape;
    width: $chessboard-size--landscape;
    max-height: 100%;
    max-width: 100%;
  }
}
