.chessboard {
  height: 100vw;
  width: 100vw;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, auto);
}

.squares {
  height: 12.5%;
  width: 12.5%;

  &--light {
    background-image: url('../../static/img/board/light.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--dark {
    background-image: url('../../static/img/board/dark.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
