.chessboard {
  height: 100vw;
  width: 100vw;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, auto);
}

.square {
  background-repeat: no-repeat;
  background-size: cover;

  &--light {
    background-image: url('../static/img/board/light.png');
  }

  &--dark {
    background-image: url('../static/img/board/dark.png');
  }
}
